git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/pytest-dev/pytest-asyncio
beautifulsoup4
pillow
requests
psutil
hurry.filesize
matplotlib
numpy
pymysql
dblpy
aiomysql
lavalink
aioredis
websockets==3.4